@import "title";
@import "button";
@import "header";
@import "promo";
@import "bestsellers";
@import "collections";
@import "charm";
@import "categories";
@import "catalog";
@import "footer";

.hide {
	display: none;
}
.show {
	display: block;
}
.flex {
	display: flex;
}

.trans-5 {
	transition: 0.5s all;
}

@media (max-width: 992px) {
	.container {
		width: 86.666%;
	}
	.hierarhy {
		padding-top: 77px;
	}
}
