@media (max-width:1440px) {
    .title {
        font-size: 16px;
        &_14 {
            font-size: 14px;
        }
        &_20 {
            font-size: 20px;
        }
        &_24 {
            font-size: 24px;
        }
        &_32 {
            font-size: 32px;
        }
        &_36 {
            font-size: 36px;
        }
        &_40 {
            font-size: 40px;
        }
        &_200 {
            font-size: 200px;
        }
    }
}
@media (max-width: 1200px) {
    .title {
        font-size: 16px;
        &_14 {
            font-size: 14px;
        }
        &_20 {
            font-size: 18px;
        }
        &_24 {
            font-size: 22px;
        }
        &_32 {
            font-size: 30px;
        }
        &_36 {
            font-size: 32px;
        }
        &_40 {
            font-size: 40px;
        }
        &_200 {
            font-size: 170px;
        }
    }
}
@media (max-width: 992px) {
    .title {
        font-size: 16px;
        &_14 {
            font-size: 14px;
        }
        &_20 {
            font-size: 16px;
        }
        &_24 {
            font-size: 20px;
        }
        &_32 {
            font-size: 28px;
        }
        &_36 {
            font-size: 28px;
        }
        &_40 {
            font-size: 40px;
        }
        &_200 {
            font-size: 130px;
        }
    }
}
@media (max-width: 768px) {
    .title {
        font-size: 16px;
        &_14 {
            font-size: 14px;
        }
        &_20 {
            font-size: 15px;
        }
        &_24 {
            font-size: 18px;
        }
        &_32 {
            font-size: 26px;
        }
        &_36 {
            font-size: 24px;
        }
        &_40 {
            font-size: 40px;
        }
        &_200 {
            font-size: 90px;
        }
    }
}
@media (max-width: 480px) {
    .title {
        font-size: 16px;
        &_14 {
            font-size: 14px;
        }
        &_20 {
            font-size: 14px;
        }
        &_24 {
            font-size: 16px;
        }
        &_32 {
            font-size: 24px;
        }
        &_36 {
            font-size: 20px;
        }
        &_40 {
            font-size: 40px;
        }
        &_200 {
            font-size: 48px;
        }
    }
}
