.button {
	display: flex;
	justify-content: center;
	align-items: center;
    padding: 17px;
    border: 2px solid #fcc2d1;
    background: rgba(54, 54, 54, 0.48);
    transition: box-shadow 0.2s ease-in-out;
	text-align: center;
	font-weight: 600;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    &:hover {
        box-shadow: 0 0 20px 4px rgba(#fcc2d1, 0.5);
        background: rgba(54, 54, 54, 0.63);
    }
	&_card {
        padding: 11px;
        background: #363636;
        font-size: 20px;
        &:hover {
            background: rgba(#363636, 0.93);
        }
	}
}
