.extra-light {
	font-weight: 275;
}
.light {
	font-weight: 300;
}
.regular {
	font-weight: 400;
}
.medium {
	font-weight: 500;
}
.semi-bold {
	font-weight: 600;
}
.bold {
	font-weight: 700;
}
.upper {
	text-transform: uppercase;
}

.lato {
	font-family: "Lato", sans-serif;
}
.mont {
	font-family: "Montserrat", sans-serif;
}
.roboto {
	font-family: "Roboto", sans-serif;
}
